---
import TimelineStepper from "./TimelineStepper.astro";

import { work_experiences } from "../../services/workExperiense";
---

<div class="px-8 md:px-60 py-28 bg-gray-200">
  <h2 class="text-3xl text-center mb-16 md:mb-24 border-b-4 border-orange-300 pb-4">
    Work experience
  </h2>

  <ul
    class="text-gray-700 dark:text-gray-400"
  >
    {
      work_experiences.map((w) => (
        <p>
          <TimelineStepper
            title={w.title}
            bussinesName={w.business.name}
            dates={`${w.dates.start} - ${w.dates.final}`}
            description={w.description}
            location={w.business.location}
            tags={w.tags}
          />
        </p>
      ))
    }
  </ul>
</div>
